<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Inscription</h2>
            <form id="inscriptionForm">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" required>
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" required>
                </div>
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="motDePasse" required>
                </div>
                <div class="form-group">
                    <label for="age">Âge</label>
                    <input type="number" class="form-control" id="age" name="age" required>
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <select class="form-control" id="genre" name="genre" required>
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="niveauAcademique">Niveau Académique</label>
                    <select class="form-control" id="niveauAcademique" name="niveauAcademique" required>
                        <option value="Secondaire">Secondaire</option>
                        <option value="Collégial">Collégial</option>
                        <option value="Universitaire">Universitaire</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="orientationS">Orientation sexuelle</label>
                    <select class="form-control" id="orientationS" name="orientationS" required>
                        <option value="Hétérosexuel">Hétérosexuel</option>
                        <option value="Homosexuel">Homosexuel</option>
                        <option value="Bisexuel">Bisexuel</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="courriel">Courriel</label>
                    <input type="email" class="form-control" id="courriel" name="courriel" required>
                </div>
                <button type="button" onclick="submitForm()" class="btn btn-primary btn-block">S'inscrire</button>
                <div id="error-message" class="text-danger mt-2"></div>
            </form>
        </div>
    </div>

    <script>
        function submitForm() {
            const formData = new FormData(document.getElementById('inscriptionForm'));

            fetch('/api/utilisateur/inscription', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    console.log(response);
                    if (response.ok) {
                        console.log('Inscription réussie');
                        window.location.href = '/page/login'; // Redirection en cas de succès
                    } else {
                        console.error('Erreur lors de l\'inscription:', response.statusText);
                        document.getElementById('error-message').textContent = `Erreur lors de l'inscription: ${response.statusText}`;
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de l\'inscription:', error);
                    document.getElementById('error-message').textContent = `Erreur lors de l'inscription: ${error.message}`;
                });
        }
    </script>
</body>

</html>