body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #BD7FBE;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-center i {
    font-size: 20px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #ddd;
}

.user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

main {
    padding: 20px;
}

#conversation {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

#message-contenu {
    width: calc(100% - 20px);
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#envoyer-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #BD7FBE;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#envoyer-button:hover {
    background-color: #BD7FBE;
}

footer {
    background-color: #BD7FBE;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}