<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critères De Recherche</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">SO2M</div>
            <div class="nav-center">
                <a href="/view/parametre/Modifier Profil.html" class="nav-link"><i class="fas fa-cog" id="settings-button"></i></a>
                <a href="/view/questionnaire/questionnaire.html" class="nav-link"><i class="fas fa-edit" id="questionnaire-button"></i></a>
                <a href="/view/recherche/recherchePartenaire.html" class="nav-link"><i class="fas fa-search" id="search-button"></i></a>
                <a href="/view/photos/listeProfilsPublics2.html" class="nav-link"><i class="fas fa-address-card" id="photo-button"></i></a>
                <a href="/view/favoris/favoris.html" class="nav-link"><i class="fab fa-cc-visa" id="favorites-button"></i></a>
                <a href="/view/matchs/matchs.html" class="nav-link"><i class="fas fa-user-circle" id="profil-button"></i></a>
                <a href="/view/accueil/accueil.html" class="nav-link"><i class="fas fa-home" id="home-button"></i></a>
                <a href="/view/messagerie/messagerie.html" class="nav-link"><i class="far fa-comments" id="message-button"></i></a>
                <a href="/view/wwwroot/login.html" class="nav-link"><i class="fas fa-sign-out-alt" id="logout-button"></i></a>
            </div>
            <div class="user-info">
                
                <span id="user-name"></span>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="form-container">
            <h2>Recherche Partenaire</h2>
            <form id="modificationProfilForm">

                <div class="form-group">
                    <label for="ageMin">Age minimal</label>
                    <input type="number" class="form-control" id="ageMin" name="ageMin" required>
                </div>
                <div class="form-group">
                    <label for="ageMax">Age maximal</label>
                    <input type="number" class="form-control" id="ageMax" name="ageMax" required>
                </div>
                <!--
                <div class="form-group">
                    <label for="ville"> ville</label>
                    <input type="text" class="form-control" id="ville" name="ville" required>
                </div>

                <div class="form-group">
                    <label for="rayonRecherche">Rayon de recherche</label>
                    <input type="int" class="form-control" id="rayonRecherche" name="rayonRecherche" required>
                </div>
                -->
                <div class="form-group">
                    <label for="niveauAcademique">Niveau Académique</label>
                    <select class="form-control" id="niveauAcademique" name="niveauAcademique" required>
                        <option value="Secondaire">Secondaire</option>
                        <option value="Collégial">Collégial</option>
                        <option value="Universitaire">Universitaire</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="genre">Genre</label>
                    <select class="form-control" id="genre" name="genre" required>
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="orientationS">Orientation sexuelle</label>
                    <select class="form-control" id="orientationS" name="orientationS" required>
                        <option value="Hétérosexuel">Hétérosexuel</option>
                        <option value="Homosexuel">Homosexuel</option>
                        <option value="Bisexuel">Bisexuel</option>
                    </select>
                </div>

                <button type="button" onclick="submitForm()" class="btn btn-primary btn-block">Lancer Recherche</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Vérifier si l'utilisateur est connecté
            fetch('http://localhost:5160/api/utilisateur/current', {
                credentials: 'same-origin'
            })
                .then(response => {
                    if (!response.ok) {
                        console.log('Redirection vers la page de connexion : ', response.statusText);
                        window.location.href = '/view/wwwroot/login.html';
                        return;
                    }
                    return response.json();
                })
                .then(data => {
                    if (data) {
                        console.log('Données de l\'utilisateur : ', data);
                        document.getElementById('user-name').textContent = data.username;
                        //document.getElementById('profile-photo').src = 'data:image/png;base64,' + data.photo1_data;
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de la récupération de l\'utilisateur :', error);
                    window.location.href = '/view/wwwroot/login.html';
                });
            // Gestion de la déconnexion
            document.getElementById('logout-button').addEventListener('click', () => {
                fetch('/api/utilisateur/logout', { method: 'POST' })
                    .then(() => {
                        window.location.href = '/view/wwwroot/login.html'; // Corrigez l'URL de redirection ici
                    })
                    .catch(error => console.error('Error:', error));
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            fetch('/api/recherchePart/getCriteres',
                {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    }
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('genre').value = data.genre;
                    document.getElementById('ageMin').value = data.ageMin;
                    document.getElementById('ageMax').value = data.ageMax;
                    document.getElementById('niveauAcademique').value = data.niveauAcademique;
                    document.getElementById('orientationS').value = data.orientationS;
                    //document.getElementById('profile-photo').src = 'data:image/png;base64,' + data.photo1_data;

                })
                .catch(error => {
                    console.error('Erreur lors de la récupération des données du profil:', error);
                });
        });

        function submitForm() {
            const formData = new FormData(document.getElementById('modificationProfilForm'));

            fetch('/api/recherchePart/modifierCriteres', {
                method: 'POST',
                body: formData,
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                }
            })
                .then(response => {
                    if (response.ok) {
                        console.log(' mis à jour avec succès.');
                        window.location.href = '/view/photos/listeProfilsPublics2.html'; // Redirection en cas de succès
                    } else {
                        console.error('Erreur lors de la modification :', response.statusText);
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de la modification:', error);
                });
        }
    </script>

    <footer>
        <p>&copy; 2024 SO2M. Tous droits réservés.</p>
    </footer>
</body>

</html>