<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listeProfilsPublics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">SO2M</div>
                <div class="nav-center">
                    <a href="/page/modifierProfil" class="nav-link"><i class="fas fa-cog" id="settings-button"></i></a>
                    <a href="/page/recherchePartenaire" class="nav-link"><i class="fas fa-search" id="search-button"></i></a>
                    <a href="/page/photos" class="nav-link"><i class="fas fa-camera" id="photo-button"></i></a>
                    <a href="/page/favoris" class="nav-link"><i class="fas fa-star" id="favorites-button"></i></a>
                    <a href="/page/accueilProfil" class="nav-link"><i class="fas fa-user-circle" id="profil-button"></i></a>
                    <a href="/page/accueil" class="nav-link"><i class="fas fa-home" id="home-button"></i></a>
                    <a href="/page/messagerie" class="nav-link"><i class="fas fa-envelope" id="message-button"></i></a>
                    <a href="/page/login" class="nav-link">class="nav-link"><i class="fas fa-sign-out-alt" id="logout-button"></i></a>
                </div>
            </div>
            <div class="user-info">
                <img id="profile-photo" src="" alt="Photo de Profil">
                <span id="username"></span>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="form-container">
            <h2>listeProfilsPublics</h2>


                <p id="results"></p>




                <br><br><br><br><br><br>


        </div>
 
    </div>

    <script>
 
 

        let Id=1 // ** A AJUSTER APRÈS QUE L'AUTHENTIFICATION SERAIT IMPLÉMENTÉE **  

        document.addEventListener('DOMContentLoaded', () => {
            fetch('/api/recherchePart/getListeProfilsPublics/' + Id, 
            {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                }
            })
                .then(response => response.json())
                .then(data => {
 
                    var json = JSON.stringify(data);

                    document.getElementById('results').textContent = json;
                    
 
                 })
                .catch(error => {
                    console.error('Erreur lors de la récupération des données du profil:', error);
                });
        });

        function submitForm() {
            let Id=1 // ** A AJUSTER APRÈS QUE L'AUTHENTIFICATION SERAIT IMPLÉMENTÉE **  

            const formData = new FormData(document.getElementById('modificationProfilForm'));
            
            var object = {};
            formData.forEach(function(value, key){
            object[key] = value;
            });
            var json = JSON.stringify(object);
            alert(json);
            
            fetch('/api/recherchePart/updateCriteresNGetMatchs/'+Id, {
                method: 'POST',
                body: formData,
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                }
            })
                .then(response => {
                    if (response.ok) {
                        alert(' mis à jour avec succès.');
                    } else {
                        console.error('Erreur lors de la modification :', response.statusText);
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de la modification:', error);
                });
        }
    </script>

    <footer>
        <p>&copy; 2024 SO2M. Tous droits réservés.</p>
    </footer>
</body>

</html>