<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listeProfilsPublics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<style>



#content2 {
  max-width: 1000px;
  margin: auto;
}

	.container2 {
	  display: grid;
	  grid-template-columns: 250px 250px 250px 250px;
	  text-align: center;
	  
	  
	}
    .column {
        padding: 26px;
        height: 400px;
        margin: 5px;
        background-color: #EFEFEF;
    }

    p{
        padding:0px;
        margin:0px;
    }

    .Match {
        font-size:smaller;
    }

    h2{
        margin:3px;
        padding:3px;
    }














    </style>
<body>
    <header>
        <div class="navbar">
            <div class="logo">SO2M</div>
            <div class="nav-center">
                <a href="/view/parametre/Modifier Profil.html" class="nav-link"><i class="fas fa-cog" id="settings-button"></i></a>
                <a href="/view/questionnaire/questionnaire.html" class="nav-link"><i class="fas fa-edit" id="questionnaire-button"></i></a>
                <a href="/view/recherche/recherchePartenaire.html" class="nav-link"><i class="fas fa-search" id="search-button"></i></a>
                <a href="/view/photos/listeProfilsPublics2.html" class="nav-link"><i class="fas fa-address-card" id="photo-button"></i></a>
                <a href="/view/favoris/favoris.html" class="nav-link"><i class="fab fa-cc-visa" id="favorites-button"></i></a>
                <a href="/view/matchs/matchs.html" class="nav-link"><i class="fas fa-user-circle" id="profil-button"></i></a>
                <a href="/view/accueil/accueil.html" class="nav-link"><i class="fas fa-home" id="home-button"></i></a>
                <a href="/view/messagerie/messagerie.html" class="nav-link"><i class="far fa-comments" id="message-button"></i></a>
                <a href="/view/wwwroot/login.html" class="nav-link"><i class="fas fa-sign-out-alt" id="logout-button"></i></a>
            </div>
            <div class="user-info">
                <span id="username"></span>
            </div>
        </div>
    </header>

 

    <div id="content2">
        <h2>Résultat de votre recherche</h2>

        <p id="results"></p>
    </div>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
 


    <script>

        document.addEventListener('DOMContentLoaded', () => {
            fetch('/api/recherchePart/getListeProfilsPublics',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    }
                })
                .then(response => response.json())
                .then(data => {
                    var json = JSON.stringify(data);

                    var buf = [];

                    let ele = "";
                    let totalResult = "";
                    for (let i = 0; i < data.length; i++) {
                        ele = data[i];

                        if (i === 0 || i === 4 || i === 8 || i === 12 || i === 16) {
                            buf.push('<div class="container2">');
                        }
                        buf.push(`
                                 <div class="column">
                                    <h2> ${ele.username} </h2>
                                    <p class="Match"> Match: ${ele.matchScore_Total}</p>
                                    <p class="Match"> Prédict. RLT: ${ele.matchScore_ModelePsy1}</p>
                                    <img src="data:image/png;base64,${ele.photo1_data}" width="175" height="225">
                                    <p> Prenom: ${ele.prenom}</p>
                                    <p> Age: ${ele.age}</p>
                                    <p>${ele.genre}</p>
                                    <p>${ele.orientationS}</p>

                                </div>
                                `);
                        if (i === 3 || i === 7 || i === 11 || i === 15) {

                            buf.push('</div>');
                        }


                    }

                    document.getElementById('results').innerHTML = buf.join("");

                })
                .catch(error => {
                    console.error('Erreur lors de la récupération des données du profil:', error);
                });
        });

        function submitForm() {

            const formData = new FormData(document.getElementById('modificationProfilForm'));

            var object = {};
            formData.forEach(function (value, key) {
                object[key] = value;
            });
            var json = JSON.stringify(object);
            alert(json);

            fetch('/api/recherchePart/updateCriteresNGetMatchs/' + Id, {
                method: 'POST',
                body: formData,
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                }
            })
                .then(response => {
                    if (response.ok) {
                        alert(' mis à jour avec succès.');
                    } else {
                        console.error('Erreur lors de la modification :', response.statusText);
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de la modification:', error);
                });
        }
    </script>

    <footer>
        <div class="footer-top">
            <div class="footer-column">
                <h3>Group 07915</h3>
                <p>9155, rue St-Hubert, Montréal, QC H2M 1Y8</p>
                <p>(514) 389-5921</p>
            </div>
            <div class="footer-column">
                <h3>En savoir plus</h3>
                <ul>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contactez nous</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Terms de services</a></li>
                    <li><a href="#">Politique de privacité</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Notre bulletin d'information</h3>
                <p>
                    Abonnez-vous à notre newsletter pour recevoir nos actualités et nos remises directement dans votre
                    boîte
                    de réception.
                </p>
                <form action="#" method="message">
                    <input type="email" placeholder="Email Address">
                    <button type="submit">S'abonner</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 SO2M. Tous droits réservés.</p>
            <p>Projet Integrateur développé par Group: SO2M</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>